* {
  font-family:Arial;
  background-color:#EFE779;
}

  

h1:hover {
    color:black;
    
  
}

h1 {
  text-align:center;
  color:#FFFFFF;
}
div {
	background-color:white;
	border: 2px solid #000000;
	border-radius:9px;
	float:left;
	
	
  
  
}
li{
	background-color:white;
	
	
}
a {
 
 	border: 2px solid #000000;
	float:left;
	position:relative;
	left: 900px;
	bottom: -20px;
	border-radius: 9px;
	background-color: #FFFFFF;
	height: 50px;
	width: 80px;
	text-decoration:none;
}
a:hover {
	background-color:red;
}
img {
	height: 300px;
	border-radius:80px;
	position:relative;
	bottom:-150px
	
}
