* {
  font-family:Arial;
  border:1px solid black;
}


td {
  display:inline-block;
  background-color:#2DE023;
 
  margin:100px 100px 100px 100px;
  font-size:100px;
  
}
h1:hover {
    color:blue;
  
}


