* {
  font-family:Arial;
  background-color:#EFE779;
}

  

h1:hover {
    color:black;
    
  
}

h1 {
  text-align:center;
  color:#FFFFFF;
}
td {
 
  color:white;
  
  
}
p {
  background-color:white;
  border-radius:6px;
}
