#header{
  width: 100%;
  height:80px;
  background-color:#F8A7A7;
}
.left{
  height:100%;
  width:30%;
  background-color:#CE1515;
  float:left;
  font-size:100px;
}
.right{
  width:70%;
  background-color:white;
  float:right;
  font-size:100px;
}
