#header{
  width: 100%;
  height:80px;
  background-color:RGBA(13, 42, 143, 0.85);
  color: white;
  text-align: center;
  font-size: 400%;
}
.left{
  height:1000px;
  width:200px;
  background-color:#4C5FF4;
  float:left;
  font-size:18px;
}
.right{

  background-color:white;
  float:right;
  font-size:18px;
}
.Kontakt {
  font-family:16px;
  color:white;
}
@media screen  and (max-width :600px) {
  .left, .right{
    width:100%;
  }
}
